



body{
    background-color:rgb(12, 11, 11) ;
    margin:0;
    padding: none;
    background-image: url("img/bk.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height: 100vh;
   

 
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
    height: 100%;
    
}

a{
    text-decoration: none;
}

section{ 
    
    width: 100%;
    height: 100vh;
    

    /*
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0, 2);
    padding: 0px 5px;*/
}


html{
    scroll-behavior: smooth;
    
}


nav{

    left: none;
    top: 0;
    position: fixed;
    height: 50px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(0, 0, 0);
    box-shadow: 2px 2px 12px rgb(24, 2, 2); 
    padding: 0px 2%;
    z-index: 1;
    
 

    
}

nav ul {
    display: flex;

}

nav ul li a{
margin: 40px;
font-family: monospace;
color: rgb(197, 113, 113);
font-size: 100%;
font-weight: 700;
}

nav a img{
height: 30px;
}

.logo{
    font-family: calibri;
    color: rgb(197, 113, 113);
    font-size: 30px;
    
    
}



.active {
    font-weight: bold;
    color: rgb(197, 113, 113);
    
    
}


.conteudo-texto p:nth-child(1)
{ 
    
    font-family: calibri;
    font-weight: lighter;
    color: whitesmoke;
    font-size:280%;
    
}
.conteudo-texto p:nth-child(2)
{

    
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 0px;
    color: whitesmoke;
    font-size: 60px;
}

.conteudo-texto p:nth-child(3)
{
    font-family: calibri;
    color:whitesmoke;
    font-size: 25px;
    line-height: 30px;
}

.conteudo-texto {
    line-height: 0px;
    margin: 5px 5px 25px; 
    text-align: center;
}

.conteudo-texto
{
    
    
    position: absolute;
    left: 6.5%;
    top: -26%;
   transform: translate(2.5%, 155%); 
}

.conteudo-texto button{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    margin: 0px 10px;

    background-color: rgb(197, 113, 113);
    
}

.btn1{background-color: 234, 133, 133;
    cursor: pointer;
    
  
    
}
/*  esse fica
.btn2{background-color: rgb(234, 133, 133);
    border: none;
    color: rgb(0, 0, 0);*/


button:active{
    transform: scale(1.1);
}

 .imgbk{
    
    height: 400px;
    position: absolute;
    bottom: 110px;
    left: 80%;
    transform: translateX(-50%);
 }

 .conteudo-sobre{
    width: 95%;
    bottom: -250px;
    height: 620px;
    color: rgb(0, 0, 0);
    border-radius:20px ;
    box-shadow: 5px 5px 5px rgba(0.8,0.8,0.8,0.8);
    display: flex;
    margin: -7% auto 20px auto;
    position:relative;
    align-items: center;

 }

 .conteudo-sobre img {
    top: 5%;
    position: relative;
    border-radius: 500%;
    margin: 15px;
    border-color: rgb(234, 133, 133);
    border-width: 5px;
    border-style:solid;
    height: 400px; 
    box-shadow: 0px 0px 9px  rgb(255, 0, 0);

   /* min-width: 45rem;
    height: 20rem;
    object-fit: contain;
    border-radius: 500%;
    box-shadow: .1rem .1rem 1rem .1rem var(--ciano-default-color);;*/

 }
 

.texto-sobre{
    top: 5%;
    position: relative;
    width: 980px;
    margin: 50px;
}

.conteudo-sobre p:nth-child(1)
{
    color: whitesmoke;
    font-family: arial;
    font-weight: bold;
    font-size: 40px;
    line-height: 10px;
    
    
}
.conteudo-sobre p:nth-child(2)
{
    color: rgb(234, 133, 133);
    font-size: 20px;
    font-family: calibri;
    font-weight: none;
    line-height: 20px;
    
}

.conteudo-sobre p:nth-child(3)
{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: calibri;
    font-weight: none;
    line-height: 20px;
    
}

.conteudo-sobre p:nth-child(4)
{
    color: rgb(234, 133, 133);
    font-size: 20px;
    font-family: calibri;
    font-weight: none;
    line-height: 20px;
    
}

.conteudo-sobre p:nth-child(5)
{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: calibri;
    font-weight: none;
    line-height: 20px;
}
.texto-sobre button
{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 12px;
    outline: none;
    background-color:rgb(197, 113, 113)
}

.todasredes{
    align-items: center;
    height: 10px;
    position:absolute;
    top: -9.5%;
    left: -16%;


}

.redes ul li a img{
    align-items: center;
    height: 400%;
    position:absolute;
    top: 270px;
    left: 750px;

    
}



.redestwo ul li a img  {

    align-items: center;
    height: 400%;
    position: absolute;
    top: 270px;
    left: 872px;
    
}

.redestree ul li a img  {

    align-items: center;
    height: 400%;
    position: absolute;
    top: 270px;
    left: 990px;
    
}

/* Estilo das qualificações*/ 

.qualificacoes{

    height: 3500px;
    margin-top: 300px;
   
    background-color: rgb(0, 0, 0);

}

.qualificacoes-textos p:nth-child(1)
{
    font-family: calibri;
    font-weight: bold;
    color: rgb(197, 113, 113);
    font-size: 50px;
    line-height: 100px;
    margin-left: 430px;
    position: relative;
   top: 110px;
   left: -20%;
       
}

.qualificacoes-textos{
    width: 500px;
    margin: 50px 0px 0px 90px;

}

.headid{
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 0px;

}

.detalhes{font-family: calibri;
    font-weight: bold;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 0px;
}
.box1  p:nth-child(4){
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 0px;
}
.box1  p:nth-child(5){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 0px;
}


/*depois adc as outras clases*/

.box1{
    
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2 px 2 px 2 12px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.box1 img{

    border-radius: none;
    margin: 15px;
    border-color: rgb(234, 133, 133);
    border-width: 5px;
    border-style:solid;
    height: 40%; 
    box-shadow: 0px 0px 20px  rgb(255, 0, 0);
    

}

.box2{
    width: 500px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2 px 2 px 2 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 60px;
    
    
    
}


.box2 img {
    border-radius: none;
    margin: 15px;
    border-color: rgb(234, 133, 133);
    border-width: 5px;
    border-style:solid;
    height: 140%; 
    box-shadow: 0px 0px 20px  rgb(255, 0, 0);
}


.box2  p:nth-child(4){
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 0px;
    
}

.box2  p:nth-child(5){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 0px;
}

.box3{
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2 px 2 px 2 12px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 60px;
    

}

.box3 img{

    border-radius: none;
    margin: 15px;
    border-color: rgb(234, 133, 133);
    border-width: 5px;
    border-style:solid;
    height: 40%; 
    box-shadow: 0px 0px 20px  rgb(255, 0, 0);
}

.box3  p:nth-child(4){
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 0px;
}

.box3  p:nth-child(5){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 0px;
}


.conteudo-box{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    top: 150px;
    position: relative;
}

.fullbox{

    
    position: relative;
    top: -250px;
    left: 32%;
}


.cursos-textos{
    width: 5px;
    height: 50px;
    margin: 5px 0px 0px 9px;
}

.conteudo-curso{
    display:0;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    bottom: -700px;
    right:570px;    

 
}

.conteudo-curso p:nth-child(1)
{
    font-family: calibri;
    font-weight: bold;
    color: rgb(197, 113, 113);
    font-size: 70px;
    margin-left: 0px;
    position: relative;
    bottom: none;
    top: -250px ;
    left:34%;
    
       
}

.boxcurso1  p:nth-child(4){
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 0px;
}

.boxcurso1  p:nth-child(5){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 20px;
    line-height: 0px;
}
.boxcurso1{

    width: 500px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2 px 2 px 2 12px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.boxcurso1 img{
    border-radius: none;
    margin: 15px;
    border-color: rgb(234, 133, 133);
    border-width: 0px;
    border-style:solid;
    height: 70px; 
    box-shadow: 0px 0px 0px  rgb(255, 0, 0);
    

}

.boxcurso2  p:nth-child(4){
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 0px;
}
.boxcurso2  p:nth-child(5){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 20px;
    line-height: 0px;
}
.boxcurso2{
    width: 500px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2 px 2 px 2 12px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 30px;
    
}

.boxcurso2 img{
    
    border-radius: none;
    margin: 0px;
    border-color: rgb(234, 133, 133);
    border-width: 0px;
    border-style:solid;
    height: 70px; 
    box-shadow: 0px 0px 0px  rgb(255, 0, 0);
    

}

.boxcurso3  p:nth-child(4){
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 0px;
}
.boxcurso3  p:nth-child(5){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 20px;
    line-height: 0px;
}
.boxcurso3{
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2 px 2 px 2 12px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 70px;
    
}

.boxcurso3 img{

    border-radius: none;
    margin: 0px;
    border-color: rgb(234, 133, 133);
    border-width: 0px;
    border-style:solid;
    height: 70px; 
    box-shadow: 0px 0px 0px  rgb(255, 0, 0);
    position: relative;
    
    

}

.experiencias-titulo{
    font-family: calibri;
    font-weight: bold;
    color: rgb(197, 113, 113);
    font-size: 50px;
    line-height:200px;
    width: 100px;
    height: 100px;
    position:relative;
    left: -700px;
    bottom: 100px;
    
}

.descricoes{

    width: 700px;
    height: 0;
    position: absolute;
    left: -750px;
    bottom: -310px;
}

.texto-cargo{
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 500px;
    height: 40px;
    position: relative;
    left: -700px;
    bottom: 60px;
}

.texto-imobiliaria{
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 600px;
    height: 40px;
    position: relative;
    left: -700px;
    bottom: 75px;
}

.descricoes  p:nth-child(1){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}
.descricoes  p:nth-child(2){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}

.descricoes  p:nth-child(3){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}
.descricoes  p:nth-child(4){
    font-family: monospace;
    font-weight:lighter ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}
.descricoes  p:nth-child(5){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}
.descricoes  p:nth-child(6){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}
.descricoes  p:nth-child(7){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}
.descricoes  p:nth-child(8){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}
.descricoes  p:nth-child(9){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}
.descricoes  p:nth-child(10){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}
.descricoes  p:nth-child(11){
    font-family: monospace;
    font-weight:none ;
    color: rgb(197, 113, 113);
    font-size: 15px;
    line-height: 20px;
    margin-left: 0px;
}
.experienciafoto img {
    left: -5%;
    top: 370px;
    position: relative;
    border-radius: none;
    margin: 0px;
    border-color: rgb(234, 133, 133);
    border-width: 0px;
    border-style:none;
    height: 250px; 
    box-shadow: 0px 0px 0px  rgb(255, 0, 0);


}


.conteudo-contato{

    margin-top: 50px;
    width:330%;
    height:400px;
    color: rgb(0, 0, 0);
    border-radius:20px ;
    box-shadow: 5px 5px 5px rgba(0.8,0.8,0.8,0.8);
    display: flex;
    position:relative;
    align-items: center;
    top: 400px;
    right: 600px;
 
    
 }

 .texto-contato{
    position: relative;
    left: 18%;
    top: 10%;
    width: 980px;
    margin: 100px;
}

.texto-contato  p:nth-child(1){
    font-family: calibri;
    font-weight:bold ;
    color: rgb(255, 255, 255);
    font-size: 50px;
    line-height: 20px;
    margin-left: 0px;
    bottom: 100px;
    position: relative;
    
}

.texto-contato  p:nth-child(2){
    font-family: calibri;
    font-weight:bold ;
    color: rgb(234, 133, 133);
    font-size: 20px;
    line-height: 30px;
    margin-left: 0px;
    bottom: 120px;
    position: relative;
    
}

.texto-contato  p:nth-child(3){
    font-family: calibri;
    font-weight:bold ;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 20px;
    margin-left: 0px;
    bottom: 100px;
    position: relative;
    
}

.totalredes1{
    height: 50px;
    position: relative;
    top: -100px;
    left: 18%;
}

.redes1 ul li a img  {
    
    height: 70px;
    position: relative;
    top: 200px;
    left: -1130px;
    border: 0;
    border-width: none;
    border-style: none;
    box-shadow: none;
    box-sizing: none;
    text-shadow: none;  
}

.redes2 ul li a img  {
    
    height: 70px;
    position: relative;
    top: 100px;
    left: -1000px;
    border: 0;
    border-width: none;
    border-style: none;
    box-shadow: none;
    box-sizing: none;
    text-shadow: none;  
}

.redes3 ul li a img  {
    
    height: 70px;
    position: relative;
    top: 0px;
    left: -880px;
    border: 0;
    border-width: none;
    border-style: none;
    box-shadow: none;
    box-sizing: none;
    text-shadow: none;  
}


.net img {

    height: 250px;
    position: relative;
    right: -10%;
    top: 100px;
    border-width: none;
    border-style: none;
    box-shadow: none;
    box-sizing: none;
    text-shadow: none;  

}

footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 140px;
    right: 90%;

}

footer p {
    font-family: calibri;
}

footer p:nth-child(1){
    font-weight: bold;
    color: rgb(234, 133, 133);
    line-height: 10px;
    font-size: 20px;

}

footer p:nth-child(2){
font-size: 15px;
color: rgb(255, 255, 255);
width: 500px;
text-align: center;
}

#link-topo{

    text-decoration: none;
    color: rgb(250, 250, 250);
    font-size: 50px;
    position: relative;
    top: 90px;
    right: 600px;

    
    
}

.topo button
{
    position: relative;
    left: 40%;
    top: 80px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    background-color:rgb(197, 113, 113);
    cursor: pointer;
    
}

.conteudo-ferramentas{
    display:0;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    bottom: -700px;
    right:500px;    

}

.conteudo-ferramentas p:nth-child(1)
{
    font-family: calibri;
    font-weight: bold;
    color: rgb(197, 113, 113);
    font-size: 50px;
    margin-left: none;
    position: relative;
    bottom: none;
    top: -200px ;
    left:10%;

    
       
}

.conteudo-ferramentas p:nth-child(2)
{
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 0px;
    position: relative;
    bottom: 0;
    top: -260px ;
    left: 34%;
    right: 0px;
    
       
}

.boxferramenta1 img{
    border-radius: none;
    margin: 15px;
    border-color: rgb(234, 133, 133);
    border-width: 0px;
    border-style:solid;
    height: 75px; 
    box-shadow: 0px 0px 0px  rgb(255, 0, 0);
    

}

.boxferramenta2 img{
    border-radius: none;
    margin: 15px;
    border-color: rgb(234, 133, 133);
    border-width: 0px;
    border-style:solid;
    height: 75px; 
    box-shadow: 0px 0px 0px  rgb(255, 0, 0);
    

}

.boxferramenta3 img{
    border-radius: none;
    margin: 15px;
    border-color: rgb(234, 133, 133);
    border-width: 0px;
    border-style:solid;
    height: 75px; 
    box-shadow: 0px 0px 0px  rgb(255, 0, 0);
    

}

.boxferramenta4 img{
    border-radius: none;
    margin: 15px;
    border-color: rgb(234, 133, 133);
    border-width: 0px;
    border-style:solid;
    height: 70px; 
    box-shadow: 0px 0px 0px  rgb(255, 0, 0);
    position: relative;
    top: -335px;
    bottom: 0px;
    right: 0px;
    left: 10%;
    

}
.boxferramenta5 img{
    border-radius: none;
    margin: 15px;
    border-color: rgb(234, 133, 133);
    border-width: 0px;
    border-style:solid;
    height: 70px; 
    box-shadow: 0px 0px 0px  rgb(255, 0, 0);
    position: relative;
    top: -445px;
    bottom: none;
    left: 77%;
    

}


.fullbox p:nth-child(1){
    
    font-weight: bold;
    color: rgb(234, 133, 133);
    line-height: 10px;
    font-size: 30px;
    position: relative;
    right:0px;
    left: -50%;
    bottom:0px;
    top: 70px;

}

.linguagens{
position: relative;
top: 60px;
right: 45%;

}

.fullbox1 p:nth-child(1){
    font-weight: bold;
    color: rgb(234, 133, 133);
    line-height: 10px;
    font-size: 30px;
    position: relative;
    right:0px;
    left: 20%;
    bottom:0px;
    top: -330px;

}

 .fullbox2 p:nth-child(1){
    font-weight: bold;
    color: rgb(234, 133, 133);
    line-height:0px;
    font-size: 30px;
    position:absolute;
    right: 0;
    left:70%;
    bottom:none;
    top: 40px;
}

@media screen and (max-width: 600px){
    nav{
        width: 250px;
       

    }

    nav ul li a{
        margin: 10px;
    


}}





